<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOeUrnh6Js_sdRrhNmuboW1ffCB97Pwio</string>
	<key>GCM_SENDER_ID</key>
	<string>342172988249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.aeApp.TestProjectAe</string>
	<key>PROJECT_ID</key>
	<string>testaeauth</string>
	<key>STORAGE_BUCKET</key>
	<string>testaeauth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342172988249:ios:3aeb67ca858813ba8d9248</string>
</dict>
</plist>